body {
  margin: 0;
  font-family: 'Lalezar', cursive;
  font-family: 'Patua One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Lalezar', cursive;
    font-family: 'Patua One', cursive;
}
